.reset-password-container {
  display: flex;
  height: 100vh;
}
.reset-password-container form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reset-password-container h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.reset-password-container label {
  font-size: 14px;
  color: #555;
}

.reset-password-container input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.reset-password-container input:focus {
  border-color: #1e88e5;
  outline: none;
}


/* Responsive Design */
@media (max-width: 768px) {
  .reset-password-container {
    flex-direction: column;
  }

  .left-side {
    height: 40%;
    padding: 30px 10px;
  }

  .right-side {
    height: 60%;
    padding: 20px;
  }

  .illustration {
    max-width: 200px;
  }
}
