.sidebar {
  background: linear-gradient(
    177.38deg,
    #6315db 0.2%,
    rgba(144, 29, 186, 0.835312) 49.97%,
    rgba(236, 46, 118, 0.5) 143.94%
  );
  color: white;
  width: 280px;
  height: 100vh;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  position: relative;
  overflow-y: auto;
}

.sidebar::-webkit-scrollbar {
  display: none; /* إخفاء شريط التمرير */
}

.sidebar .logo {
  position: absolute;
  mix-blend-mode: lighten;
  width: 124px;
  height: 69px;
  top: 60px;
  left: 78px;
}

.sidebar.collapsed {
  width: 75px;
}

.sidebar.collapsed .menu {
  position: absolute;
  left: 10px;
  width: 80%;
}

.toggle-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.sidebar ul {
  list-style: none;
  position: absolute;
  top: 130px;
  left: 15px;
  width: 80%;
  padding-left: 0;
}

.sidebar ul li {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.2rem;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

/* التأثير عند المرور */
.sidebar ul li:hover {
  background: linear-gradient(
    180deg,
    #f2f2f2 -77.59%,
    rgba(242, 242, 242, 0) 136.21%
  );
}

/* التأثير عند التفعيل */
.sidebar ul li.active {
  background: linear-gradient(
    180deg,
    #f2f2f2 -77.59%,
    rgba(242, 242, 242, 0) 136.21%
  );
}

.sidebar ul li.active .menu-item {
  color: #6315db;
}

.sidebar .menu-item {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.logout {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.logout:hover {
  color: #ff4a4a;
}

/* موديل تسجيل الخروج */
.logout-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-modal .modal-content {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.logout-modal h3 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #030202;
}

.logout-modal .btn-logout-yes,
.logout-modal .btn-logout-no {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
}

.logout-modal .btn-logout-yes {
  background-color: #28a745;
  color: white;
}

.logout-modal .btn-logout-yes:hover {
  background-color: #218838;
}

.logout-modal .btn-logout-no {
  background-color: #ff4a4a;
  color: white;
}

.logout-modal .btn-logout-no:hover {
  background-color: #e03e3e;
}
